:root{
    --violet: hsl(257, 40%, 49%);
    --magenta:hsl(300, 69%, 71%);
    --poppins: 'Poppins', sans-serif;
    --openSans: 'Open Sans', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-color: var(--violet);
    font-family: var(--openSans);
}
@media (min-width: 768px) {
    body{
        background-image: url(../images/bg-desktop.svg);
        background-size: 200%;
    }
}
img{
    display: block;
    width: 100%;
}
h1{
    font-family: var(--poppins);
}
a{
    text-decoration: none;
}
.contenedor{
    max-width: 160rem;
    width:85%;
    margin: 0 auto;
}

/* Header Section */

.header{
    padding: 3rem 2rem 2rem 0;
    margin-bottom: 5rem;
}
.header__imagen{
    width: 15rem;
}

@media (min-width: 768px) {
    .header__imagen{
        width: 30rem;
    }
}
/* Hero Section */

.hero{
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .hero__contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
    }
}
.hero__imagen{
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .hero__imagen{
        margin-bottom: 0;
    }
}
.hero__contenido{
    width: 95%;
    text-align: center;
}
@media (min-width: 768px) {
    .hero__contenido{
        width: 100%;
        text-align: left;
    }
}
.hero__titulo{
    color: white;
    font-size: 2.5rem;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .hero__titulo{
        font-size: 4rem;
    }
}
.hero__titulo-span{
    display: block;
}
.hero__parrafo{
    color: white;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .hero__parrafo{
        width: 75%; 
        font-size: 2rem;
    }
}
.hero__enlace{
    display: inline-block;
    margin-top: 1rem;
    width:75%;
    background-color: white;
    border-radius: 3rem;
    padding: 1.5rem; 
    color: var(--violet);
    transition: background-color .3s ease-in-out,
    color .3s ease-in-out;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.283);
}
@media (min-width: 768px) {
    .hero__enlace{
        width: unset;
        display: inline-block;
        padding: 1.8rem 8rem;
    }
}
.hero__enlace:hover{
    background-color: var(--magenta);
    color: white;
}

/* Footer Section */

.footer{
    margin-top: 5rem;
}
.footer__contenido{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .footer__contenido{
        justify-content: flex-end;
    }
}
.footer__logos{
    padding: 1rem 1.3rem;
    border-radius: 50%;
    border: 1px solid white;
    transition: background-color .3s ease-in-out;
}
.footer__logos:hover{
    border-color: var(--magenta);
    cursor: pointer;
}
.fa-brands{
    color: white;
    transition: transform .5s ease-in;
}
.footer__logos:hover .fa-brands{
    transform: rotate(360deg);
    color: var(--magenta);
}

.footer__copyright{
    text-align: center;
    color: white;
}
.footer__parrafo{
    font-size: 1.3rem;
}
.footer__parrafo-span{
    font-size: 2rem;
    font-weight: 800;
}
.fa-heart{
    margin-left: 1rem;
    font-size: 1.8rem;
    animation: latido 1s infinite ease-in
}
@media (min-width: 768px) {
    .footer__copyright{
        display: none;
    }
}
@keyframes latido{
    0%{
        transform: scale(1.1);
    }
    30%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.5);
    }
    70%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
